body {
    background-color: rgb(160, 79, 236);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(160, 79, 236);
}

.flex-container>div {
    background-color: #a077d6;
    width: 200px;
    margin: auto;
    text-align: center;
    line-height: 45px;
    font-size: 17px;
}

h2 {
    color: white;
}

button {
    background: yellow;
}